<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notice Board{% endblock %}</title>
    <!-- Ваши стили или внешние таблицы стилей могут быть добавлены здесь -->
</head>
<body>

<header>
    <h1>{% block header %}Notice Board{% endblock %}</h1>
    <!-- Здесь могут быть добавлены другие элементы заголовка, меню и т.д. -->
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <!-- Здесь могут быть добавлены элементы подвала, копирайты и т.д. -->
</footer>

</body>
</html>
